h1
{
    color:green;
}

body
{
    background-color: teal;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1a/Donkey_in_Clovelly%2C_North_Devon%2C_England.jpg)
    color:red;
    font-family:impact;
}

.blur
{
    backdrop-filter: blur(5px);
    background-color: blueviolet;
}

div p
{
    color:bisque;
}
a:hover 
{
    color:black;
}